#main-box
{
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 100%;
    height: 800px;
}
#img-container
{
    margin: 0px auto;
    width: 100%;
    height: 50%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    box-shadow: 0px 4px 31px #0000000A;
    background-color: black;
    background: transparent url("/images/hero-image.png") 0% 0% no-repeat padding-box;
    background-size: cover; 
}
@media screen and (max-width: 610px)
{
    #img-container
    {
        height: 35%;
    }
}

#content-container
{
   padding: 5%;
   display: inline-block;
   text-align: center;
}

#head-img
{
    width: 100%;
    height: 60px;
    display: inline-block;
    margin-bottom: 19px;
    margin-top: 50px;
}

#content1
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    color: #3E3E3E;
    display: inline-block;
    text-align: center;
    width: 90%;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}

#content2
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #3E3E3E;
    display: inline-block;
    height: 33px;
    padding-top: 10px;
    padding-bottom: 23.5px;
    width: 100%;
}
.input-style
{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #ADADAD ;
    border-radius: 5px;
    width: 100%;
    /* height: 49px; */
    padding: 14.5px;
}

.input-content
{
    display: inline-block;
    text-align: center;
    
}

#sub-container
{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#login-btn
{
    background-color: #C8242F;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border-radius: 23px;
    border: none;
    margin-top: 30.5px;
    margin-left: 30px;
    width: 100px;
    height: 35px;
    display: inline-block;
}

#frgt-pass-link
{
    margin-left: 150px;
    display: inline-block;
    color: #ADADAD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

#register-link
{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 23px;
    color: #ADADAD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    height: 20px;
}

/* --------------------------------------------------------------------------------------------------------- */


/* --------------------------DASHBOARD STYLING-------------------------------------------------------------- */
#d-sidebar
{
    width: 23%;
}
.d-sidebar-block 
{
    width: 100%;
    font-size: 12px;
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    vertical-align: baseline;
}
.d-sidebar-block  img
{
    height: 14px;
    margin-right: 5px;
}

#menu-bar-style
{
    width: 20px;
    height: 34px;
    left: 2%;
    /* margin-left: 20px; */
    
}

#header-logo-style
{
    width: 132px;
    height: 30px;
    left: 6%;
    /* margin-left: 72px; */
}

#search-icon-style
{
    width: 20px;
    height: 20px;
    left: 25%;
    top: 30%;
    /* margin-left: 290.67px; */

}

#search-bar-style
{
    /* width: 49px; */
    height: 21px;
    border: none;
    left: 28%;
    top: 30%;
    /* margin-left: 321px;  */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;   
}

#noti-icon-style
{
    width: 25px;
    height: 25px;
    right: 22%;
    top: 30%;
    /* margin-left: 1294.2px; */
}

#profile-img-style
{
    width: 40px;
    height: 40px;
    right: 15%;
    /* margin-left: 1368px; */
}
#profile-name
{
    width: 68px;
    height: 21px;
    /* margin-left: 1424px; */
    right: 4.5%;
    top: 35%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px; 
}

#dnwrd-arrow-style
{
    width: 36px;
    height: 23px;
    /* margin-left: 1490.54px; */
    right: 1%;
    top: 35%;
}




.sidebar-block 
{
    width: 100%;
    font-size: 14px;
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-left: 17.5px;
    border-radius: 5px;
    /* vertical-align: baseline; */
}

.sidebar-block  img
{
    height: 15px;
    margin-right: 6px;
}

    .stats-box
    {
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        margin-left: 30px;
    }
    #sales-graph-box
    {
        width: 90%;
    }
    #graph-values
    {
        padding-left: 80px;
    }
#graph-values .row div
{
    font-size: 15px;
}

    #pie-chart-box
    {
        margin-top: 20px;
        width: 90%;
        margin-left: 0px;
        /* display: inline-block;
        text-align: center; */
    }
     
    .box-top
    {
        margin-left: 30px;
    }
 
.col-box
{
   width: 230px;
   flex-direction: row;
}
/*
.col-box-img
{
    margin: 10px 10px 10px 30px;
    margin-left: 10px;
}

.col-box-content
{
    display: flex;
    flex-direction: column;
    
}

.fig
{
    margin: 30px 0px 0px 15px;
}

.product-details
{
    margin: 15px;
    margin-left: 20px;
    font-size: 20px;
    margin-left: 20px;
} */

/* --------------------------------------------------------------------------------------------------------------------------- */


/* -----------------------------------------Analysis Page------------------------------------------------------------------------------- */
#sidebar
{
    padding-left: 20px;
    width: 20%;
}

.analysis-main-box
{
    width: 57%;
}
#analysis-head
{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 41px 0px 22.5px 30px;
}

#analysis-form
{
    margin-left: 30px;
}

.analysis-label
{
    font-size: 16px;
}


.analysis-sub-label
{
    font-size: 13px;
}

.input-style1
{
    height: 30px;
    font-size: 11px;
}

.txt-area
{
    height: 50px;
    font-size: 11px;
}
.col-style
{
    height: 30px;
}

.col2
{
    grid-template-rows: 30px 30px;
}

.col2 input
{
    font-size: 11px;
}

.col-style legend
{
    font-size: 11px;
}

.col3
{
    grid-template-rows: 40px 40px;
    column-gap: 20px;

}

.col3 fieldset,input
{
    font-size: 11px;
    height: 33px;
    margin-top: -7.4px;
}
#col4
{
    column-gap: 15px;
}

#col4 input
{
    margin-top: 0px;
}

#col4 fieldset
{
    font-size: 11px;
    height: 33px;
}

#col4 fieldset input
{
    margin-top: -7.4px;
}

.upload-file-btn
{
    width: 80px;
    height: 25px;
}

.upload-img img
{
    height: 15px;
    width: 15px;
    margin-right: 3px;
}
.upload-txt
{
    font-size: 11px;
}

.upload-content div
{
    font-size: 11px;
}

.radio-style
{
    font-size: 11px;
}
input[type='radio']{
    width: 11px;
    height: 11px;
}
input[type='checkbox']{
    width: 11px;
    height: 11px;
}
.snackbar-box
{
    font-size: 11px;
}
#pr-btn, #sec-btn
{
    width: 80px;
    height: 30px;
    font-size: 10px;
}
.tab-block
{
    font-size: 11px;
}
.tab-content
{
    font-size: 11px;
}